:root{
    background-color: beige;
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name{
    height: 170px;

}
header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    color: orangered;
    position: relative;
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.navbar{
    position: relative;;
}
header h1 a{
    text-decoration: none;
    font-size: 3rem;
    color: orangered;
    padding: 2rem 3.5rem;
   
}
header h1 a:hover{
    font-size: 3.5rem;
}


header nav ul{
    justify-content: space-around;
    display: flex;
    list-style: none;  
    
    
}
li{
    display: flex;
    padding: 1.1rem 3.5rem;
    flex-direction: row;
    font-size: 2.8rem;
    
}
header nav ul li:hover{
    font-style: italic;
    font-size: 2.5rem;
    padding:0.4rem 2.8rem;
    
}
header nav ul li a{
    color: orangered;
    text-decoration: none;
}
    
    

.hero {
background-image: 
url(../assets/Images/fourtune\ abort.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    position: relative;
}
.easy{
position: absolute;
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
bottom: 10%;
right: 10%;
font-size: 3.5rem;
}

.row{
   display:grid;
   grid-gap: 10px;
    grid-template-columns: 30% 70%;
    height: 275px;
    background-color: beige;
    margin-top: beige 15px;
}
.workrow{
    display:grid;
    grid-gap: 10px;
     grid-template-columns: 30% 70%;
     height: 500px;
     background-color: beige;
     margin-top: beige 15px;
 }
 .contactrow{
    display:grid;
    grid-gap: 10px;
     grid-template-columns: 30% 70%;
     height: 130px;
     background-color: beige;
     margin-top: beige 15px;
 }
.statement {
    flex-wrap: wrap;
    font-size: 35px;
    color: blue;
    background-color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-right: blue solid 20px;
    margin-top: 2rem;
    margin-top:2rem;
    overflow: hidden;
    
}

.about-me {
    height: 400px;
    width: 100%;
    border: 10px solid beige;
    position: relative;
    display: flex;
    align-items: stretch;
    background-color: beige;
}
.bio{
    width: 100%;
    background-color: beige;
    font-size: 2.3rem;
}
.work{
    width: 100%;
}
.work-grid {
    height: 100%;
    width: 100%;
    right:0px;
    top:0px;
    position: relative;
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    grid-column-gap:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: orangered; 
    border: solid beige 10px;  
    background-color: beige;
}
.box1{
    background-image: url(../assets/Images/meal\ queue\ ss.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/5;
    grid-row: 1/5;
    box-shadow:5px 5px 7px cadetblue;
}
.box2 {
    background-repeat: no-repeat;
    background-image: url(../assets/Images/calculator.jpg);
    background-size:cover;
    background-position: center;
    grid-column: 5/7;
    grid-row: 1/3;
    box-shadow:5px 5px 7px cadetblue;
}
.box3 {
    background-image: url(../assets/Images/quiz.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 5/7;
    grid-row: 3/5;
    box-shadow:5px 5px 7px cadetblue;
    
}
.box4 {
    background-image: url(../assets/Images/puzzles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/3;
    grid-row: 5/7;
    box-shadow:5px 5px 7px cadetblue;
}
.box5 {
    background-image: url(../assets/Images/ledwall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 3/5;
    grid-row:5/7;
    box-shadow:5px 5px 7px cadetblue;
}
.box1:hover{
    opacity: 0.5;
}
.box2:hover{
    opacity: 0.5;
}
.box3:hover{
    opacity: 0.5;
}
.box4:hover{
    opacity: 0.5;
}
.box5:hover{
    opacity: 0.5;
}
.overlap{
    white-space: normal;
}
.contact-info ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
/* @media only screen and (max-width 950px){
    header h1 a{
        font-size: 1.8rem;
        padding: 1.1rem 1.1rem;
    }
} */