.hero {
    background-image: 
    url(../assets/Images/fourtune\ abort.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        display: flex;
        position: relative;
    
    .easy{
    position: absolute;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 10%;
    right: 10%;
    font-size: 3.5rem;
    }
}